aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
charset-normalizer==2.0.12
colorama==0.4.4
discord-py-interactions @ git+https://github.com/interactions-py/library.git@00ebd1b896f7cc17415cebd04cfc1877a6badbc8
frozenlist==1.3.0
idna==3.3
mccabe==0.6.1
multidict==6.0.2
orjson==3.6.8
psutil==5.9.0
pycodestyle==2.8.0
pyflakes==2.4.0
yarl==1.7.2
